.TodoTemplate {
    width: 512px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
}

.app-title {
    background: rgb(94, 88, 92);
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    background: rgb(218, 218, 218);
    color: black;
}